@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.dropdown:hover .dropdown-hover {
    background-color: #E5E5E5;
}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    text-align: left;
}

.dropdown-item-with-image {
    background: url('https://goodeva.co.id/public/asset-goodeva-lp/navbar/bg-menu-smart-safety.png');
    background-size: cover;
    background-position: center;
}

.dropdown-item {
    background: transparent !important;
}





/* css asli */


.txt-blue {
    color: #088A98 !important;
  }

  .txt-header-footer-alamat {
    font-weight: 600;
    color: #143477;
  }

  .img-bagian {
    width: 10%;
    margin-left: 10px;
  }

  .mr-15px {

    margin-right: 15px;

  }

  .b-radius10px {
    border-radius: 10px !important;
  }

  .pb-4rem {
    padding-bottom: 4rem !important;
  }

  .mt-4rem {
    margin-top: 4rem !important;
  }

  .mb-6rem {
    margin-bottom: 6rem !important;
  }

  .pt-6rem {
    padding-top: 6rem !important;
  }

  .pb-6rem {
    padding-bottom: 6rem !important;
  }

  @media(max-width:767px) {
    .wrap-inside-nav.left {
      background: #000000;
    }

    .mt-sm-0 {
      margin-top: 0 !important;
    }

    .mb-sm-0 {
      margin-bottom: 0 !important;
    }
  }

  @media(min-width:767px) and (max-width:992px) {
    .footer-tablet:nth-child(1) {
      order: 2;
    }

    .footer .desktop-show .row {
      display: flex;
      flex-wrap: wrap;
    }

    .footer-tablet:nth-child(2) {
      order: 1;
    }

    .part-footer:nth-child(1) {
      order: 2;
    }

    .part-footer:nth-child(2)>div {
      margin-bottom: 3rem !important;
      margin-top: .5rem !important;
    }


    .part-footer:nth-child(2) {
      order: 1;
    }

    .footer .footer-tablet:nth-child(1) {
      text-align: center;
    }

    .footer-navigation {
      margin-top: 30px;
    }

    .footer .footer-nav {
      padding-bottom: 20px;
    }
  }

  @media(max-width:767px) {
    .footer-tablet:nth-child(1) {
      order: 2;
    }

    .footer .desktop-show .row {
      display: flex;
      flex-wrap: wrap;
    }

    .footer-tablet:nth-child(2) {
      order: 1;
    }

    .part-footer:nth-child(1) {
      order: 2;
    }

    .part-footer:nth-child(2)>div {
      margin-bottom: 3rem !important;
      margin-top: .5rem !important;
    }


    .part-footer:nth-child(2) {
      order: 1;
    }

    .footer .footer-tablet:nth-child(1) {
      text-align: center;
    }

    .footer .footer-nav {
      padding-bottom: 20px;
    }
  }

  .bg-blue-header {
    background: #192535;
  }

  .bg-cyan-header {
    background: #068391;
  }

  .bg-purple-header {
    background: #33344A;
  }

  #infocard_slider .slick-active {
    opacity: 1 !important;
  }

  #infocard_slider .slick-slide {
    opacity: 0.6;
  }



  .header .navbar.navbar-default.navbar-scrolling .navbar-nav>li:hover>a>i,
  .header .navbar .navbar-nav>li:hover a,
  .header .navbar .navbar-nav>li:hover a>i {

    color: #63A6B3 !important;

  }

  .header .navbar .navbar-nav>li:hover a {
    border-radius: 10px;
  }

  .text-black {
    color: #000000 !important
  }

  .wrap-inside-nav .inside-col .inside-nav li {

    width: 100%;

  }

  .wrap-inside-nav-mobile .inside-nav li {

    width: 100%;

  }



  .header .navbar {

    /* Ini buat ada effectnya */

    /* padding-top: 20px;

              padding-bottom: 15px; */

    padding-top: 15px;

    padding-bottom: 6px;

    background: #f5f5f5
  }



  .header .navbar .navbar-nav>li>a {

    font-family: 'Inter', sans-serif;

    color: #1D1D1D;

    font-weight: 500;

    font-size: 16px;

    margin: 0 11px;

  }

  .footer .footer-social .footer-title {
    font-family: 'Inter', sans-serif
  }

  #nav {

    /* -webkit-box-shadow: none !important; */

  }



  .header .navbar .navbar-nav>.current>a {

    color: #1D1D1D;

    font-weight: 600;

  }



  .wrap-inside-nav .inside-col .inside-nav li a>div span:nth-child(2) {

    margin-top: -9px;

    /* margin-bottom: 12px; */

    display: block;

  }

  .wrap-inside-nav-mobile .inside-nav li a>div span:nth-child(2) {
    margin-top: 10px;
    display: block;
  }



  .wrap-inside-nav .inside-col .inside-nav li a,
  .wrap-inside-nav-mobile .inside-nav li a {

    padding-bottom: 12px;

  }



  .wrap-inside-nav .inside-col .inside-nav li a:hover {

    padding-bottom: 12px;

  }

  .wrap-inside-nav .inside-col .inside-nav li a>div span:nth-child(2) {

    margin-top: -9px;

    /* margin-bottom: 12px; */

    display: block;

  }



  .wrap-inside-nav .inside-col .inside-nav li a,
  .wrap-inside-nav-mobile .inside-nav li a {

    padding-bottom: 12px;

  }



  .wrap-inside-nav .inside-col .inside-nav li a:hover {

    padding-bottom: 12px;

  }



  .fa-chevron-down {

    font-size: 11px;

    /* color: #535161;

              margin-left: 3px; */

    font-size: 11px;

    color: #666477;

    margin-left: 3px;

    position: absolute;

    top: 14.5px;

    right: -13px;

  }



  .header.scrolling-header .navbar.navbar-default.navbar-scrolling,
  .header.scrolling-header .navbar.navbar-default.navbar-scrolling-fixing {

    padding-bottom: 6px;

    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 13%) !important;

  }

  .header .navbar {
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 13%) !important;
  }

  @media (max-width:767px) {

    .bg-submenu.smart-safety {
      background: transparent !important;
    }

    .bg-submenu.sales-automation {
      background: transparent !important;
    }

    .bg-submenu.digital-growth {
      background: transparent !important;
    }

    .header .navbar {
      box-shadow: none !important;
    }

    .header .navbar.bg-white {
      box-shadow: 0 3px 5px 0 rgb(0 0 0 / 13%) !important;
    }
  }






  /* Footer */

  .footer p {

    letter-spacing: 0.08px;

    font-family: 'Open Sans' !important;

    font-size: 14.5px;

    font-weight: 500;

  }



  .e-footer__nav-list>li>div>ul li {

    margin-bottom: 1rem;

  }



  .e-footer__nav-list>li>div>ul li a {

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 17px/49px Open Sans;

  }



  .footer .footer-contact ul li {

    font-family: 'Open Sans';

    letter-spacing: 0.06px;

    line-height: 22px;

    font-size: 14.5px;

  }

  .l-burger {
    top: 12px;
  }

  .l-burger span:nth-child(1) {
    width: 30px;
  }

  .l-burger span:nth-child(2) {
    width: 24px;
  }

  .l-burger span:nth-child(3) {
    width: 18px;
  }

  .l-burger.open span {
    width: 30px !important;
  }

  .navbar-collapse.in {
    max-height: 100vh !important;
  }

  #data_scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .e-footer__nav-list>li:nth-child(3) {
    width: 191px;
  }

  .e-footer__nav-list>li:nth-child(2) {
    width: 258px;
  }

  .bg-submenu.smart-safety {
    background: url('https://goodeva.co.id/public/asset-goodeva-lp/navbar/bg-menu-smart-safety.png');
  }

  .bg-submenu.sales-automation {
    background: url('https://goodeva.co.id/public/asset-goodeva-lp/navbar/bg-menu-sales-automation.png');
  }

  .bg-submenu.digital-growth {
    background: url('https://goodeva.co.id/public/asset-goodeva-lp/navbar/bg-menu-digital-growth.png');
  }

  .wrap-inside-nav.left {
    background: #000000;
  }

  .bg-submenu.smart-safety:hover,
  .bg-submenu.sales-automation:hover,
  .bg-submenu.digital-growth:hover {
    background-size: 115%;
    transition: background-size .25s;
  }


  .wrap-inside-nav .inside-col .inside-nav li.bg-submenu a>div span:nth-child(1),
  .wrap-inside-nav .inside-col .inside-nav li.bg-submenu a>div span:nth-child(2) {
    color: #ffff !important;
  }

  .wrap-inside-nav .inside-col .inside-nav li:nth-child(1) a:hover {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .wrap-inside-nav .inside-col .inside-nav li a:hover,
  .wrap-inside-nav .inside-col .inside-nav li a:active:hover,
  .wrap-inside-nav .inside-col .inside-nav li a:visited:hover,
  .wrap-inside-nav .inside-col .inside-nav li a:focus:hover {
    color: #1D1D1D !important;
    background: #706f7082;
  }

  .wrap-inside-nav .inside-col .e-nav--list_child li:nth-child(1) {
    /* border-bottom: 1px solid #E5E5E5; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .wrap-inside-nav .inside-col .e-nav--list_child li:nth-child(1),
  .wrap-inside-nav .inside-col .e-nav--list_child li:nth-child(2) {
    border-bottom: 0px solid #E5E5E5 !important;
  }

  .wrap-inside-nav .inside-col .e-nav--list_child li:nth-child(3),
  .wrap-inside-nav .inside-col .inside-nav li:nth-last-child(1) a:hover {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .part-footer img.goodeva-part {
    margin: 5px;
  }

  nav i,
  nav [class^="mdi-"],
  nav [class*="mdi-"],
  nav i.material-icons {
    height: 0px;
  }

  .flex-lang {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }

  .transition-content {
    transition: .25s;
  }

  .img-w75 {
    width: 75%;
  }

  .img-w15 {
    width: 15% !important;
  }

  _::-webkit-full-page-media,
    _:future,
    :root .wa-icon{
      width: 40px;
      text-align: center;
      /* margin: auto; */
      margin-left: 15px;
      margin-top: 12px;
    }

    .wa-icon{
      width: 30px;
  text-align: center;
  /* margin: auto; */
  margin-left: 21px;
  margin-top: 19px;
    }

  .back-to-top {
      position: fixed;
      visibility: visible;
      opacity: 1;
      right: 15px;
      bottom: 15px;
      z-index: 996;
      background: #25d366;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      transition: all 0.4s;
  }

  .back-to-top i {
      font-size: 28px;
      color: #fff;
      line-height: 0;
  }

  .back-to-top:hover {
      background: #25d366;
      color: #fff !important;
  }

  .back-to-top.active {
      visibility: visible;
      opacity: 1;
  }

  .datepicker-dropdown {
      padding: 20px !important;
  }





.btn-mobile-started-2 {
    background-color: #fff !important;
    color: #000 !important;
    font-size: 15px !important;
    border-radius: 5px !important;
    border: 2px solid #fff;
    font-weight: bold !important;
  }

  .btn-wa-2 {
    background-color: transparent !important;
    color: #fff !important;
    font-size: 15px !important;
    border-radius: 5px !important;
    border: 2px solid #fff;
  }

  .img-section {
    height: auto !important;
    width: 95% !important;

  }

  .mt-5-custom {
    margin-top: 4.5rem !important;
  }

  .btn-wa {
    background-color: #63A6B3 !important;
    color: #fff !important;
    display: inline !important;
    font-size: 15px !important;
    border-radius: 5px !important;
  }

  .hslide-area .slid-content img {

    height: 696px;

    object-fit: cover;

  }

  .hslide-area .slid-content img.char--info-img {

    height: auto !important;

  }





  .hslide-area .slick-dots li.slick-active button:before {

    opacity: 1;

    color: white;

  }



  .hslide-area .slick-dots li button:before {

    font-size: 9px;

    top: -35px;

    color: white;

  }



  .hslide-area .slid-content {

    position: relative;

  }


  .mt-6rem {
    margin-top: 6rem !important;
  }

  .mt-10rem {
    margin-top: 10rem !important;
  }



  .txt-header-right,
  .txt-header-right-hp,
  .txt-header-left {

    position: absolute;

    /* top: 54%;

            left: 76%; */

    top: 50%;

    left: 77%;

    padding-right: 3rem;

    -webkit-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%);

    color: white;

    font-size: 46px;

    -webkit-transition: all 300ms ease;

    transition: all 300ms ease;

  }



  #hslide-area-mobile .slid-content .txt-header-right-hp {
    position: absolute;

    /* top: 54%;

            left: 76%; */

    top: 10%;

    left: 5%;
  }

  #hslide-area-mobile .slick-track {
    min-height: 736px
  }





  .txt-header-right-hp {

    /* padding-right: 7.5rem; */

  }



  .txt-header-left {

    top: 47% !important;

    left: 38% !important;

    padding-right: 22%;

  }



  .img-left-hp {

    position: absolute;

    top: 57.5%;

    left: 24%;

    height: 659px;

    object-fit: contain;

    -webkit-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%);

    -webkit-transition: all 300ms ease;

    transition: all 300ms ease;

  }



  .img-left-worker {

    position: absolute;

    top: 57%;

    left: 26%;

    height: 597px;

    object-fit: contain;

    -webkit-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%);

    -webkit-transition: all 300ms ease;

    transition: all 300ms ease;

  }



  /* Testimoni */

  .testimoni {

    padding: 8em 9em 6em 9em;

  }



  .testimoni h4 {

    color: #fff;

    font-size: 18px;

    font-weight: 200;

    letter-spacing: 0.32px;

    font-family: 'Inter', sans-serif !important;

    padding-right: 20%;

    line-height: 22px;

    margin-top: 16px;

  }



  .testimoni p {

    font-family: 'Inter', sans-serif;

    color: #fff;

    font-size: 14px !important;

    font-weight: 700;

    margin-top: 3.5em;

    margin-bottom: 0em;

  }



  .testimoni span {

    color: #fff;

    font-size: 14px !important;

    font-weight: 500;

  }



  .testimoni .p-putih {

    color: #fff;

    padding-bottom: 1em;

    font-weight: 200;

    font-size: 14px !important;

    letter-spacing: 0.07px;

    margin-top: -5px;

  }



  .testimoni .box-box {

    border-radius: 7px;

    margin: -2em -4em 0em 2em;

    min-height: 250px;

    background: #133A72;

    padding-left: 5px;

    width: 520px;

    padding: 15px;

  }



  .testimoni .lay {

    z-index: 0;

  }



  .testimoni .img-customer {

    padding: 2em 11em 3em 1em;

    padding-bottom: 0 !important;

  }



  .testimoni .img-customer img {

    width: 40px;

  }

  .testimoni .img-customer img.kpp-logo {

    width: 50px;

  }



  /* .container-jud-testi{

            padding: 3em 10em 1em 10em;

        }



        .container-jud-testi h2{

            font-family: 'Open Sans' ;

            color: #2a3271;

            font-weight: 700;

            font-size: 34px;

            line-height: 1.1;

            text-align: center;

        }



        .container-jud-testi .skyni{

            font-weight: 400;

        }

        .container-jud-testi .t-col{

            position: relative;

            padding: 0 .1em;

            color: #2a3271;

            font-weight: 700;

        }



        .container-jud-testi .t-col:after{

            content: "";

            position: absolute;

            bottom: 5px;

            left: -2px;

            width: 100%;

            height: 35%;

            background-color: #fed596;

            z-index: -10;

            -webkit-transition: all .1s linear;

            -moz-transition: all .1s linear;

            transition: all .1s linear;

        } */

  .txt-header-right h2 {



    font-weight: 600;

  }

  .txt-header-right-hp h2 {

    font-weight: 600;
  }


  @media  screen and (max-width: 1515px) {

    .txt-header-right h2 {

      font-size: 54px !important;
      line-height: 64px;
      font-weight: 600;

    }

    .txt-header-right-hp h2 {
      font-size: 54px !important;
      line-height: 64px;
    }

  }

  @media (min-width:767px) {
    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }

    .info-card .card-safety img {
      right: 82px;
    }
  }




  @media  screen and (max-width: 767px) {

    .txt-header-right-hp h2 {

      font-size: 30px !important;


    }

    .header .navbar {

      background: transparent;

    }

    .testimoni-h .slick-dots li button:before {
      top: 14px !important;
    }

    .testimoni .lay {

      /* margin-top: 2rem ; */

    }


    /* .header .navbar .navbar-nav > li > a {

            color: #fff;

            } */

    /* Slider Card */

    .btn-lihat-detail {
      border-radius: 8px;
      padding: 2px 36px;
    }

    .btn-lihat-detail span {
      font-size: 14.5px;
    }

    .info-card .card-safety .text-judul {
      color: #FFA200 !important;
      font-weight: 300;
      font-size: 12.5px;
    }

    .info-card .card-safety p {
      font-size: 18px !important;
      line-height: 24px;
    }

    #infocard_slider .slick-center .h-box-f,
    #infocard_slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] .h-box-f {
      height: 425px !important;
      margin-top: 0 !important;
      -webkit-transition: all 1s cubic-bezier(0.39, 0.58, 0.57, 1);
    }



    #infocard_slider .slick-slide .h-box-f,
    #infocard_slider .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] .h-box-f {
      height: 390px;
      margin-top: 2rem;
      -webkit-transition: all 1s cubic-bezier(0.39, 0.58, 0.57, 1);
    }

    .info-card .card-safety span,
    .info-card .card-safety .text-judul {
      font-weight: 200;
    }

    .h-box-f {
      width: 300px !important;
    }

    #infocard_slider .slick-dots li.slick-active button:before {
      color: #63A6B3;
    }

    #infocard_slider .slick-dots li button:before {
      color: #63A6B3;
      top: 22px;
    }

    /* Akhir Slider Card */

    .col-sm-12 {

      width: 100%
    }

    .col-sm-11 {

      width: 91.66666667%
    }

    .col-sm-10 {

      width: 83.33333333%
    }

    .col-sm-9 {

      width: 75%
    }

    .col-sm-8 {

      width: 66.66666667%
    }

    .col-sm-7 {

      width: 58.33333333%
    }

    .col-sm-6 {

      width: 50%
    }

    .col-sm-5 {

      width: 41.66666667%
    }

    .col-sm-4 {

      width: 33.33333333%
    }

    .col-sm-3 {

      width: 25%
    }

    .col-sm-2 {

      width: 16.66666667%
    }

    .col-sm-1 {

      width: 8.33333333%
    }

    .section-watch-video .header h5 {
      font-size: 22px;
    }

    .testimoni h4 {
      font-size: 15px;
    }

    .testimoni span {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: -5px !important;
      display: block;
    }

    .testimoni .p-putih {
      font-size: 13px !important;
    }

    .testimoni h4 {
      font-size: 15px;
    }

    .testimoni span {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: -5px !important;
      display: block;
    }

    .testimoni .p-putih {
      font-size: 13px !important;
    }

    .content-title span {
      font-size: 28px;
    }

    .fitur img {
      box-shadow: 0px 3px 25px #0000002E;
      margin-top: -54px !important;
      border-radius: 10px;
    }

    .pt-sm-1-5rem {
      padding-top: 1.5rem !important;
      padding-bottom: 1.5rem !important;
    }

    .section-compannies.liputan {
      padding-bottom: 1.5rem !important;
    }

    .w-100p {
      width: 100%;
    }

  }



  .btn-started>span {

    display: inherit;

    /* color: #000; */

    font-size: 14px;

    line-height: 0;

    font-weight: 600;

  }



  .btn-started>i {

    font-size: 11px;

  }

  @media  screen and (max-width: 770px) {

    .testimoni .box-box {

      margin: -2em -3em 0em -3em;

      height: 280px;

    }



    .testimoni .max-img {

      width: 347px;

      height: 275px;

      margin-left: 1em;

    }



    .testimoni h4 {

      font-size: 13px;

    }



  }



  @media  screen and (max-width: 450px) {

    /* .container-jud-testi .t-col:after{

                height: 20%;

            } */

    /* .testimoni{

                padding: 2em 2em 2em 2em;

            } */

    .testimoni-h .slick-dots li button:before {

      left: 0px !important;

    }

    .testimoni .box-box {

      margin: -1em -14em 0em 0em;

    }



    .testimoni p {

      margin-top: 3.5em;

      font-size: 11px;

    }



    .testimoni .hid {

      display: none;

    }



    /* .container-jud-testi{

                padding: 0;

            }



            .container-jud-testi h2{

                font-size: 20px;

                padding-top: 2em;

            } */

  }



  .testimoni-h .slick-dots {

    background: transparent;

  }



  .testimoni-h .slick-dots li.slick-active button:before {

    opacity: 1;

    color: #63A6B3;

  }



  .testimoni-h .slid-content {

    position: relative;

  }

  .atas-rounded {
    margin-top: -135px !important;
    background: #F5F5F5 !important;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  }

  /* Zoom 150% */

  @media  screen and (min-width: 1000px) and (max-width: 1098px) {

    .testimoni-h .slick-dots li button:before {

      left: 140px !important;

    }

    .hslide-area .slid-content img {
      height: 565px;
    }

    .atas-rounded {
      margin-top: -115px !important;
    }

    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }

    .hslide-area .slid-content img {
      height: 580px;
    }

    .info-card .card-erp p {
      font-size: 26px;
    }



    .testimoni .max-img {

      right: -219px !important;

    }



    .ml-7rem {

      margin-left: 2rem !important;

    }



    .h-box-f {

      width: 366px;

    }



    .info-card .card-safety img {

      right: 71px;

    }



    .img-left-hp {

      left: 29% !important;

    }



    .portfolio {

      padding-left: 20px !important;

    }



    .testimoni {

      padding: 8em 9em 6em 5em;

    }

  }



  /* Zoom 125% */

  @media  screen and (min-width: 1098px) and (max-width: 1300px) {





    .testimoni-h .slick-dots li button:before {

      left: 68px !important;

    }



    .testimoni .max-img {

      right: -135px !important;

    }



    .txt-header-right-hp h2 {

      font-size: 49px !important;

    }



    .txt-header-right-hp p {

      font-size: 19px;

    }



    .txt-header-right-hp span {

      font-size: 16px;

    }



    .txt-header-right-hp .btn-started-header span {

      font-size: 13.5px !important;

    }



    .portfolio {

      padding-left: 20px !important;

    }

  }

  @media (min-width: 1098px) and (max-width:1100px) {
    .h-box-l {
      height: 242px;
    }

    .info-card .card-erp p {
      padding-right: 35%;
    }

    .info-card .card-erp img {
      width: 36%;
    }
  }

  @media(max-width: 990px) {
    .fitur {

      overflow: hidden;

    }
  }



  /* Zoom 110% */

  @media  screen and (min-width: 1300px) and (max-width: 1410px) {

    .testimoni-h .slick-dots li button:before {

      left: 22px !important;

    }



    .testimoni .max-img {

      right: -85px !important;

    }

  }



  /* Zoom 90% */

  @media  screen and (min-width: 1556px) {

    .testimoni-h .slick-dots li button:before {

      left: -115px !important;

    }



    .testimoni .max-img {

      right: 150px !important;

    }

  }



  /* All */



  .testimoni-h .slick-dots li button:before {

    font-size: 9px;

    top: -72px;

    left: -29px;

    color: #63A6B3;

  }



  .testimoni .max-img {

    width: 350px;

    height: 259px;

    object-fit: cover;

    z-index: 999;

    border-radius: 10px;

    position: absolute;

    top: 45px;

    right: 13px;

  }



  .btn-lihat-detail {

    /* border-radius: 7px; */
    /* padding: 0 36px; */
    /* padding-right: 20px !important; */
    /* text-transform: none; */
    /* background: transparent linear-gradient(1deg, #FFA234 0%, #FFDB50 100%) 0% 0% no-repeat padding-box; */

    border-radius: 7px;
    padding: 0 36px;
    padding-right: 20px !important;
    text-transform: none;
    background: transparent;
    border: 1px solid;
    color: #ffff;

  }



  .btn-lihat-detail:hover {

    /* background: transparent linear-gradient(1deg, #f98900 0%, #e5b707 100%) 0% 0% no-repeat padding-box; */
    background: #e9e1e942;
    border: 1px solid #fff;
  }



  .btn-lihat-detail span {

    color: #fff !important;

    font-size: 13.5px !important;

    font-weight: 700 !important;

    margin-right: 10px !important;

  }



  .btn-lihat-detail i {

    color: #fff;

    font-size: 13px !important;

  }



  .fitur img {

    width: 50%;

    height: 80px;

    object-fit: contain;

  }

  @media (min-width:768px) and (max-width:1000px) {

    .fitur p {
      padding-right: 0;
    }

    .portfolio {
      padding-right: 0px !important;
      padding-left: 0px !important;
    }

    .info-card .card-erp p {
      font-size: 24px
    }

    .info-card .card-safety img {
      right: 65px;
    }

    .testimoni .max-img {
      width: 272px;
      height: 183px;
      object-fit: cover;
      z-index: 999;
      border-radius: 10px;
      position: absolute;
      top: -115px;
      right: -41px;
    }

    .txt-header-right h2 {
      font-size: 44px !important;
      line-height: 58px;
    }

    .txt-header-right-hp h2 {
      font-size: 44px !important;
      line-height: 58px;
    }

    .txt-header-right p,
    .txt-header-left p {
      font-size: 17px;
    }



    .atas-rounded {
      margin-top: -100px;
    }

    .section-watch-video .control-button {
      top: 150px;
    }

    .play-btn {
      width: 70%;
    }

    #started .content-title span {
      font-size: 40px;
    }

    #started img {
      margin-top: -10px;
    }

    .hslide-area .slid-content img.img-left-worker {
      height: 605px !important;
    }

    .hslide-area .slid-content img.img-left-hp {
      height: 511px !important
    }

    .txt-header-right,
    .txt-header-right-hp,
    .txt-header-left {
      top: 40%;
    }

    .img-left-worker {
      left: 29%;
    }

    .img-left-hp {
      left: 31%;
      top: 63.5%;
    }

    img.img-left-hp {
      height: 415px !important;
    }


  }

  @media (max-width:375px) {
    .h-box-f {
      width: 275px !important;
    }
  }

  @media(max-width:361px) {
    .h-box-f {
      width: 265px !important
    }

    .section-watch-video .header h5 {
      font-size: 20px;
    }

    .info-card .card-safety .text-judul {
      font-size: 13px;
    }

    .info-card .card-safety p {
      font-size: 17px;
    }

    .info-card .card-safety .text-judul {
      font-size: 16px;
    }

    .info-card .card-safety p {
      font-size: 20px !important;
      line-height: 28px;
    }

    .img-left-hp {
      top: 75% !important;
    }

    .img-left-worker {
      top: 77% !important;
      height: 322px !important;
    }

    .txt-header-right-hp h2 {
      font-size: 28px !important;
    }

  }

  @media(max-width:321px) {
    .h-box-f {
      width: 228px !important
    }

    /* Ini Yang Diatas Video  */
    .section-watch-video .header h5 {
      font-size: 18px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
      margin-bottom: 7px !important;
    }

    .section-watch-video .p {
      font-size: 12px !important;
      line-height: 20px !important;
    }

    /* Ini Yang Card */
    .info-card .card-safety .text-judul {
      font-size: 12px !important;
    }

    .info-card .card-safety p {
      font-size: 16px !important;
    }

    .img-health,
    .img-safety {
      width: 85%;
      right: 6%;
    }

    .img-erp {
      width: 96%;
      right: 0%;
    }

    /* Testimoni */
    .testimoni .p-putih {
      font-size: 11px !important;
    }

    /* Footer */
    .content-title span {
      font-size: 25px;
    }

    #infocard_slider .slick-center .h-box-f,
    #infocard_slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] .h-box-f {
      height: 371px !important;
      margin-top: 0 !important;
      -webkit-transition: all 1s cubic-bezier(0.39, 0.58, 0.57, 1);
    }



    #infocard_slider .slick-slide .h-box-f,
    #infocard_slider .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] .h-box-f {
      height: 338px;
      margin-top: 2rem;
      -webkit-transition: all 1s cubic-bezier(0.39, 0.58, 0.57, 1);
    }

    .img-left-hp {
      top: 77% !important;
    }

    .img-left-worker {
      top: 77% !important;
      left: 51% !important;
      height: 326px !important;
    }

    .portfolio .header h4,
    .liputan .header h4,
    .fitur-heatlhy .header-fitur h4,
    .info-card .header-fitur-safety h4 {
      font-size: 28px !important;
    }

    .txt-header-right-hp h2 {
      font-size: 25px !important;
    }
  }

  .section-watch-video {
    margin-top: -2.5%;
  }



  .atas-rounded.mobile-show {
    margin-top: -18.5% !important;
    background: #F5F5F5 !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .ml-2-5rem {
    margin-left: 2.5rem !important;
  }

  .info-card.desktop-show {
    background: #f5f5f5 !important;
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .info-card.mobile-show {
    background: #f5f5f5 !important;
    padding-top: 0rem !important;
    padding-bottom: 3rem !important;
  }

  .section-compannies.liputan {
    background: #f5f5f5 !important;
    padding-top: 1.5rem !important;
  }


  @media (max-width:767px) {
    .content-title {
      padding-left: 25px;
      padding-right: 25px;
    }

    .txt-fitur-blue {
      color: #140080;
    }

    .txt-fitur-cyan {
      color: #03B4CF;
    }

    .txt-fitur-green {
      color: #188A59;
    }

    .title-fitur {
      font-size: 29px;
      font-weight: 600;
    }

    .by--goodeva {
      color: #B4B4B4;
      font-size: 12px;
      margin-bottom: 5%;

    }

    .my-fitur:nth-last-child(1) {
      margin-bottom: 3rem !important;
    }

    .section-watch-video .header p.mobile-show {
      padding-top: 5%;
    }
  }

  .h-box-f {
    width: 100%;
  }

  .info-card .card-erp p {
    /* color: #fff; */
    /* font-weight: 300; */
    /* margin-bottom: 14px; */
    /* padding-right: 28%; */
    /* line-height: 35px; */
    /* letter-spacing: 0.8px; */
    font-size: 20px;
  }

  .testimoni-h .slick-dots li button:before,
  .portofolio-slide .slick-dots li button:before,
  .portofolio-slide-m .slick-dots li button:before {

    font-size: 9px;

    top: -72px;

    left: -29px;

    color: #63A6B3;

  }

  .slick-prev::before {
    font-family: FontAwesome !important;
    content: "\f0d9";

  }

  .slick-next::before {
    font-family: FontAwesome !important;
    content: "\f0da";

  }

  .slick-prev:before,
  .slick-next:before {
    color: #4C8D9A !important;
    font-size: 25px !important;
  }

  .info-card .card-safety img {
    width: 60%;
    height: 50%;
    right: 95px;
  }

  /* css for safari browser */
  _::-webkit-full-page-media,
  _:future,
  :root .pt-5,
  .py-5 {

    padding-top: 9rem !important;
  }

  